<%= form_for [@recipe, @comment] do |f| %>
  <div class="form-group">
    <%= f.text_area :message, placeholder: 'Type in your comment...', class: 'form-control' %>
  </div>

  <div class="form-buttons">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>