<%= form_for [@recipe, @comment] do |f| %>
  <div class="form-group">
    <%= f.label :message %>
    <%= f.text_area :message, class: 'form-control' %>
  </div>

  <div class="form-buttons">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>