<% @recipes.each_slice(3) do |recipes| %>
  <div class="row">

    <% recipes.each do |recipe| %>
      <div class="col-sm">
        
        <div class="recipe-box">
          <%= link_to recipe_path(recipe) do %>
            <div class="recipe-box-title">
              <p><%= recipe.title %></p>
            </div>
            <div class="recipe-box-image-wrapper">
              <%= image_tag recipe.image.url(:medium), class: 'recipe-box-image rounded' %>
            </div>
          <% end %>
        </div>

      </div>
    <% end %>

  </div>
<% end %>
