// Place all the styles related to the Recipe controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#comments {
  margin-top: 50px;
}

#comments .card {
  margin-bottom: 15px;
}

.comment-options {
  margin-left: 20px;
}


.recipe-box {
  margin-bottom: 50px;
  position: relative;
  cursor: pointer;

  &:hover .recipe-box-title {
    visibility: visible;
    z-index: 1;
    font-family: 'Amatic SC', cursive;
  }

  &:hover .recipe-box-image {
    transform: scale(1.075);
  }

  .recipe-box-title {
    visibility: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 34px;
    
    p {
     text-shadow: -1px 2px 20px rgba(79,79,79,1);
    }
  }

  .recipe-box-image {
    width: 100%;
    transition: all 0.3s ease-out;
  }
}

.recipe-title {
  font-size: 100px;
  font-weight: bold;
  font-family: 'Amatic SC', cursive;
}

.recipe-details {
  font-family: 'Raleway', sans-serif;
}

.recipe-image {
  box-shadow: 3px 5px 41px -6px rgba(214,214,214,1);
}

.recipe-smaller-box {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.recipe-ingredients {
  table {
    margin: 0 auto;
    text-align: left;

    td.ingredient-quantity {
      font-weight: bold;
      padding-right: 15px;
    }
  }
}

.recipe-ingredients,
.recipe-instructions {
  margin-top: 40px;
}

.recipe-instructions h3,
.recipe-ingredients h3,
.recipe-comments h3 {
  font-size: 50px;
  font-family: 'Amatic SC', cursive;
}